/* https://developer.mozilla.org/en-US/docs/Web/CSS/position */

:root {
  --white: #d5cece;
  --green: #2ecc71;
  --blue: #3498db;
  --yellow: #f1f13a;
  --red: #e74c3c;
  --dark: #000000;
  --light-white: #cddde1;
  --midnight: #1b4f82;
  --grey: #535c68;
  --ligt-grey: #00d2d3;
  --dark-grey: #1d2027;

  --bg-color: var(--white);
  --text-color: var(--dark);
  --body-color: var(--light-white);
  --link-color: var(--blue);
  --link-color-hover: var(--midnight);

  --box-size: 800px;
}

:root[data-theme="dark"] {
  --bg-color: var(--dark-grey);
  --text-color: var(--white);
  --body-color: var(--dark);
  --link-color: var(--white);
  --link-color-hover: var(--midnight);
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

/* GENERAL */

header{
    border-bottom: 1px solid var(--link-color);
}

header,
main {
  background-color: var(--bg-color);
  min-height: 30px;
  padding: 20px 0;
  margin-bottom: 20px;
}

header > nav {
  width: var(--box-size);
  margin: 0 auto;
}

header > nav > ul {
  float: left;
  list-style: none;
}

header > nav > ul:last-of-type {
  float: right;
}

.clear-fix {
  clear: both;
}

header > nav > ul > li {
  float: left;
  margin-right: 10px;
}

header > nav > ul > li > a {
  text-decoration: none;
  color: var(--link-color);
  padding: 4px 8px;
}

header > nav > ul > li > a:hover {
  color: var(--link-color-hover);
  border-radius: 5px;
  background-color: var(--link-color);
}

/* MAIN */
main {
  width: var(--box-size);
  margin: 0 auto 30px;
  /* main in ortada durmasini auto sagliyo */
  border: 1px solid var(--link-color);
  padding: 20px;
}

/* ASIDE */
aside,
section {
  float: left;
}

aside {
  width: 20%;
  padding: 20px;
}

aside > ul {
  list-style: none;
}

aside > ul > li {
  margin-bottom: 10px;
}

aside > ul > li > a {
  color: var(--link-color);
  padding: 6px 10px;
  display: inline-block;
}

aside > ul > li > a:hover {
  color: var(--link-color-hover);
}

/* SECTION */
section {
  width: 80%;
}

/* ARTICLE */
article,
article > header {
  background-color: var(--body-color);
}

article {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 4px;
}

article > header {
    padding: 0;
    border-bottom: none;
}

article > footer {
    padding-top: 10px;
}

article > footer > a {
    color:var(--link-color);
    text-decoration: none;
}

img {
    width: 100%;
    padding: 4px;
    border: 1px solid var(--link-color-hover);
    border-radius: 5px;
}